<%- include("partials/header.ejs") %>

<div class="col-md-9 p-3 py-0 ">
  <div style=" height:75%">
    <div class="mb-5">
      <div class="p-5 text-center pt-1">
        <div class="container pb-5">
          <img src="/assets/foto1.jpg" alt="" class="profile">
          <h1 class="text-body-emphasis">Jose Garda Seta</h1>
          <p class="col-lg-8 mx-auto lead">
            Butuh kontak suplier...
          </p>
        </div>
      </div>
    </div>
  </div>

  <%- include("partials/footer.ejs") %>