<%- include("partials/header.ejs") %>

<div class="col-md-9 p-3 pt-5 ">
  <div style=" height:75%">
    <div class="mb-5 pt-5">
      <div class="p-5 text-center pt-5">
        <div class="container py-5">
          <h1 class="text-body-emphasis">Gardio's Space🤟</h1>
          <p class="col-lg-8 mx-auto lead">

            let's create a legacy that can be enjoyed and read by everyone <code>
              <%%;%%>
            </code> free to read, free to learn, free to use. No license.
            Free
          </p>
        </div>
      </div>
    </div>
  </div>

  <%- include("partials/footer.ejs") %>