<%- include("partials/header.ejs") %>


<div class="col-md-9 p-3 pb-0 ">
    <div style=" height:75%" class="p-3">
        <h2 class="text-body-emphasis"><%= post.title %></h2>
        <p><%= post.content %></p>
    </div>

    <%- include("partials/footer.ejs") %>